<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">
    <test name="Test1">
        <classes>
            <class name="test.epamtraining.shapes.validation.FileValidatorTest"/>
            <class name="test.epamtraining.shapes.reader.impl.FileSphereReaderTest"/>
            <class name="test.epamtraining.shapes.parser.ParserTest"/>
            <class name="test.epamtraining.shapes.factory.impl.SphereFactoryTest"/>
            <class name="test.epamtraining.shapes.repository.SphereRepositoryTest"/>
            <class name="test.epamtraining.shapes.action.SphereActionTest"/>
            <class name="test.epamtraining.shapes.warehouse.WarehouseTest"/>
        </classes>
    </test>
</suite>